/* selects all elements to reset styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets body of website to that color */

body {
    background-color: #d9dcd6;
}

/* styles the overall text on the upper left of the site */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* makes display property for h1 element in the header */

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* makes the 'SEO' part of the header h1 be this color */

header h1 .seo {
    color: #d9dcd6;
}

/* styles the div elements that are within the header */

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* makes the ul elements in the header have no list styling */

header div ul {
    list-style-type: none;
}

/* styles the bulleted list on the upper right of website */

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* gets rid of the underlining for links and makes the link texts have this color */

a {
    color: #ffffff;
    text-decoration: none;
}

/* makes the paragraph texts have this font size */

p {
    font-size: 16px;
}

/* styles the huge image */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* styles the bulk of the site's content after the huge image */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* styles the first content box under the huge image */

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styles the first content box under the huge image */

.search-engine-optimization img {
    max-height: 200px;
}

/* styles the first content box under the huge image */

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styles the second content box under the huge image */

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styles the second content box under the huge image */

.online-reputation-management img {
    max-height: 200px;
}

/* styles the second content box under the huge image */

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styles the third content box under the huge image */

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styles the third content box under the huge image */

.social-media-marketing img {
    max-height: 200px;
}

/* styles the third content box under the huge image */

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styles the right side bar's location */

.float-left {
    float: left;
    margin-right: 25px;
}

/* styles the right side bar's location */

.float-right {
    float: right;
    margin-left: 25px;
}

/* styles the content inside the side bar */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles the first element in the side bar */

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles the first element in the side bar */

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles the first element in the side bar */

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles the second element in the side bar */

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles the second element in the side bar */

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles the third element in the side bar */

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles the third element in the side bar */

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles the third element in the side bar */

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles the third element in the side bar */

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles the footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* makes the h2 tag in the footer have this font size */
footer h2 {
    font-size: 20px;
}